{% extends 'base.html' %}

{% block content %}

<br />
<br />




<main class="text-center">
  <h1>Login</h1>


    {% if error %}
      <p style="color : red;">
    {{ error }}
      </p>

    {% endif %}

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <h5>Username:</h5>
    <input type="text" name="username"autocomplete="off">
    <br />
    <br />
    <h5>Password:</h5>
    <input type="password" name="password"autocomplete="off">
    <br />
    <br />
    <input class="btn btn-primary" type="submit" name="" value="Login">
  </form>
</main>
<br />
<br />
{% endblock %}
